
<!DOCTYPE html>
<html>
<head>
  <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
  <script src="/javascripts/ng-file-upload-shim.js"></script>
  <script src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script type="text/javascript" src="/javascripts/ng-file-upload.js"></script>


  <script src="/javascripts/loginController.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/dragDrop.css"/>

</head>
<body ng-app="AuthApp">

    <img class="logo" src="/images/LogoandPic.png" />
    <div class="loginGroup" ng-hide="currentUser">
      <form ng-show="scenario == 'Sign up'">
        <input type="email" ng-model="user.email" placeholder="Email" /><br />
        <input type="text" ng-model="user.username" placeholder="Username" /><br />
        <input type="password" ng-model="user.password" placeholder="Password" /><br />
        <button ng-click="signUp(user)">Sign up</button>
        or <a href="#" ng-click='scenario="Log in"'>Log in</a>
      </form>

      <form ng-show="scenario == 'Log in'">
        <input type="text" ng-model="user.username" placeholder="Username"/><br />
        <input type="password" ng-model="user.password" placeholder="Password"/><br />
        <button ng-click="logIn(user)">Log in</button>
        or <a href="#" ng-click='scenario="Sign up"'>Sign up</a>
      </form>
    </div>

    <div ng-show="currentUser">
      <div ng-controller="dragDropController">
        <div ngf-drop ng-model="files" class="dropzone"
          ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
          ngf-accept="'text/plain,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword'">Drop .txt, .doc, or .docx files here
        </div>
      </div>


      <h3>Manual Events</h3>
      <div ng-controller="uploadEventController"
        <form ng-model="manualEventForm">
          <input type="text" ng-model="manualEvent.title" placeholder="Event title" /><br />
          <input type="text" ng-model="manualEvent.date" placeholder="Date" /><br />
          <input type="text" ng-model="manualEvent.description" placeholder="Description" /><br />
          <button ng-click="uploadEvent(manualEvent)">upload</button>
        </form>
      </div>
      <button ng-click="logOut(user)">Log out</button>
    </div>

</body>
</html>
