@font-face {
  font-family: syllasyncRegular;
  src: url(../fonts/BoosterNextFY-Regular.otf);
}

h3 {
  color: white;
  position: relative;
  left: 43%;
}

.modal-body h3 {
  color: #424242;
}

form {
  position: relative;
  left: 43%;
}

body {
  background-color: #04a4ca;
  font-family: syllasyncRegular;
}

.main_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main_menu li {
    float: right;
}

.main_menu li a {
    display: block;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main_menu li a:hover {
    background-color: #414142;
}

.main_menu {
  height: 100px;
  width: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 300px;
}

.loginGroup {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropzone {
    border: 2px dashed white;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold;
    font-family: syllasyncRegular;
    color: white;
    margin: 0 auto;
    width: 50%;

}

#uploadContainer {
  background-color: red;
  float: left;
}

.topHeader {
  position: relative;
  top:0;
  border: thin solid black;
  height: 20px;
  width: 100%;
}

#headerButton {
  position: relative;
  float: right;
  margin: 5px;
}

.descriptionArea {
  resize: none;
  width: 100%;
}

.reviewInput {
  width: 100%;
}

.modal-body hr {
  border-width: 6px;
  background-color: #424242;
  border-color: #424242;
  border-radius: 5px;
}
