<!DOCTYPE html>
<html>
<head>
  <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
  <script src="/javascripts/ng-file-upload-shim.js"></script>
  <script src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script type="text/javascript" src="/javascripts/ng-file-upload.js"></script>
  <script src="/javascripts/loginController.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/aboutUs.css"/>

</head>
<body ng-app="AuthApp" ng-controller="loginUserController">


    <a href="/"><img class="logo" ng-src="/images/LogoandPic.png"/></a>
    <div class="main_menu">
      <ul>
        <li><a ng-click="logOut(user)" ng-show="currentUser">Log Out</a></li>
        <li><a href="/" ng-hide="currentUser">Log In</a></li>
        <li><a href="/Syllabi" ng-show="currentUser">My Syllabi</a></li>
        <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/Events" ng-show="currentUser">My Events</a></li>
      </ul>
    </div>

    <div class="privacyPolicy">
      <h1>
        About Us
      </h1>
    </div>

    <div class="firstRow">
      <div class="person1">
        <div class="picture pic1">
        </div>
        <div class="person1Text">
        </br>
          It's actually quite difficult to find something that doesn't get Joel incredibly excited; his enthusiasm is second to none. Combined with his lofty dreams (Joel believes he will be one of the first colonizers of Mars) and a work ethic to match, it's no secret why Joel is the driving force behind everything that SyllaSync does. Joel will be working full-time as an iOS developer and software engineer for VersaMe come next summer.
          </br></br>
          "The people who are crazy enough to think they can change the world are the ones who do." - Steve Jobs
        </br>
        </div>
      </div>
      <div class="person2">
        <div class="picture pic2">
        </div>
        <div class="person2Text">
        </br>
          Here at SyllaSync we joke around that Logan can solve non-determanistic polynomials in polynomial time. But really-- he's THAT smart. Logan is truly a talented programmer and problem solver with a charisma that only complements these traits. </br>Logan also extends an open invitation to anyone who thinks they can beat him in League of Legends. Logan will be working as a software engineer for Microsoft come next summer.
        </br>
        </div>
      </div>
    </div>

    <div class="secondRow">
      <div class="person1">
        <div class="picture pic3">
        </div>
        <div class="person1Text">
        </br>
          Our lead designer and resident Taylor Swift look-a-like, Daena regularly creates animations that could have been made by Pixar. Daena dreams of one day working with Disney Imagineering to better Walt Disney World's Epcot Center, where she can continue to inspire innovation and entrance viewers through her design efforts. Daena worked on cyber security at Mednax this past summer.
        </br>
        </div>
      </div>
      <div class="person2">
        <div class="picture pic4">
        </div>
        <div class="person2Text">
        </br>
          If anyone knows Parth at all, they know he is usually found either coding or watching a Clippers game. Parth is extremely passionate about programming and can spend hours trying to solve coding puzzles--if he's not constructing them himself. Parth is the programmer to call when you need help coding something brilliant, groundbreaking, and possibly illegal. Parth will be spending the following summer working for Capital One as a software engineer.
        </br>
        </div>
      </div>
    </div>

</body>
</html>
