<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>hello</h1>
<div id="here_table"></div>
<script type="text/template" id="template-calendar">
  <div class="clndr-controls">
    <div class="clndr-previous-button">&lsaquo;</div>
    <div class="month"><%= intervalStart.format('M/DD') + ' &mdash; ' + intervalEnd.format('M/DD') %></div>
    <div class="clndr-next-button">&rsaquo;</div>
  </div>
  <div class="clndr-grid">
    <div class="days-of-the-week">
      <% _.each(daysOfTheWeek, function(day) { %>
        <div class="header-day"><%= day %></div>
      <% }); %>
      <div class="days">
        <% _.each(days, function(day) { %>
          <div class="<%= day.classes %>"><%= day.day %></div>
        <% }); %>
      </div>
    </div>
  </div>
  <div class="clndr-today-button">Today</div>
</script>
</body>
</html>
