
<!DOCTYPE html>
<html>
<head>
  <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
  <script src="/javascripts/ng-file-upload-shim.js"></script>
  <script src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script type="text/javascript" src="/javascripts/ng-file-upload.js"></script>
  <script src="/javascripts/loginController.js"></script>




  <link rel="stylesheet" type="text/css" href="stylesheets/dragdrop.css"/>

</head>
<body ng-app="AuthApp" ng-controller='loginUserController'>

  <div class="main_menu">
     <ul>
       <li><a ng-click="logOut(user)" ng-show="currentUser">Log Out</a></li>
       <li><a href="/" ng-hide="currentUser">Log In</a></li>
       <li><a href="/Syllabi" ng-show="currentUser">My Syllabi</a></li>
       <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
       <li><a href="/About">About</a></li>
       <li><a href="/Events" ng-show="currentUser">My Events</a></li>
     </ul>
   </div>

     <a href="/"><img class="logo" ng-src="/images/LogoandPic.png"/></a>
    <div class="loginGroup" ng-hide="currentUser">
      <form name="signUpForm" ng-show="scenario == 'Sign up'">
        <input type="text" ng-model="user.first" placeholder="First name" /><br />
        <input type="text" ng-model="user.last" placeholder="Last name" /><br />
        <input type="email" ng-model="user.email" placeholder="Email" /><br />
        <input type="password" ng-model="user.password" placeholder="Password" /><br />
        <button ng-click="signUp(user)">Sign up</button>
        or <a href="#" ng-click='scenario="Log in"'>Log in</a>
      </form>

      <form ng-show="scenario == 'Log in'">
        <input type="text" ng-model="user.username" placeholder="Email"/><br />
        <input type="password" ng-model="user.password" placeholder="Password"/><br />
        <button ng-click="logIn(user)">Log in</button>
        or <a href="#" ng-click='scenario="Sign up"'>Sign up</a>
      </form>
    </div>

    <div ng-show="currentUser">
      <!-- <div id="uploadContainer">Uploaded Syllabi: </br></div> -->
      <div ng-controller="dragDropController">
        <div ngf-drop ng-model="files" class="dropzone"
          ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
          ngf-accept="'text/plain,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword'">Drop .txt, .doc, or .docx files here
        </div>
      </div>


      <h3>Manual Events</h3>

        <form name="manualForm" ng-submit="submit(manualEvent)" ng-controller="uploadEventController">
          <input type="text" ng-model="manualEvent.title" placeholder="Event title" required /><br />
          <input type="text" ng-model="manualEvent.classname" placeholder="Class name" required /><br />
          <input type="text" pattern="(0[1-9]|1[012])[\/](0[1-9]|[12][0-9]|3[01])[\/](19|20)\d\d"
                             ng-model="manualEvent.date" placeholder="Date (mm/dd/yyyy)" required/><br />
          <input type="text" pattern= "(1[0-2]|0[1-9]):[0-5][0-9]\040(AM|am|PM|pm)"
                             ng-model="manualEvent.time" placeholder="Time (xx:xx pm)" required /><br />
          <input type="text" ng-model="manualEvent.type" placeholder="Type (Exam, Hw, etc.)" /><br />
          <input type="number" ng-model="manualEvent.weight" placeholder="Weight of Grade (20)" /><br />

          <button type="submit">Upload</button>
        </form>

        <!-- Modal -->
          <div class="modal fade" id="reviewModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Edit and Confirm Events</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button class="btn btn-default" id="reviewSubmit">Submit</button>

                </div>
              </div>

            </div>
          </div>

          <!-- Success Modal -->
            <div class="modal fade" id="successModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-bodysuccess">
                    Syllabus successfully uploaded!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default center-block" data-dismiss="modal">Okay!</button>
                  </div>
                </div>

              </div>
            </div>

            <!-- Fail Modal -->
              <div class="modal fade" id="failModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-bodyfail">
                      Syllabus failed to upload. Please check your network connection and try again.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default center-block" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>


    </div>

</body>
</html>
